.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #69d2e7; /* pode trocar a cor */
  color: #fff;
}

.logo h1 {
  margin: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.cart {
  font-size: 0.9rem;
}
